version: "3.9"

services:
  server:
    image: hemanth2113/autoswe:latest
    container_name: auto-swe-server
    env_file: .env
    ports:
      - "8000:8000"
    restart: always
    command: ["bun", "run", "server"]

  worker:
    image: hemanth2113/autoswe:latest
    container_name: auto-swe-worker
    env_file: .env
    restart: always
    command: ["bun", "run", "worker"]
