services:
  auto-swe-server:
    image: hemanth2113/autoswe:latest
    ports:
      - "8000:8000"
    volumes:
      - ./private-key.pem:/app/private-key.pem:ro
    environment:
      - MY_GITHUB_PRIVATE_KEY_PATH=/app/private-key.pem

  auto-swe-worker:
    image: hemanth2113/autoswe:latest
    volumes:
      - ./private-key.pem:/app/private-key.pem:ro
    environment:
      - MY_GITHUB_PRIVATE_KEY_PATH=/app/private-key.pem
