name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Server Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/server.Dockerfile
          push: true
          tags: hemanth2113/autoswe:latest

      # - name: Build and Push Worker Image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./docker/worker.Dockerfile
      #     push: true
      #     tags: hemanth2113/autoswe-worker:latest
